/* #region debug */

.debug * {
  border: 1px dashed black;
}

/* #endregion debug */

/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-lighter: rgb(255, 255, 255);
  --color-light: rgb(155, 155, 155);
  --color-dark: rgb(0, 0, 0);
  --color-hover: rgb(46, 126, 255);
  --color-primary: rgb(0, 97, 254);
  --color-secondary: rgb(180, 208, 230);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  min-width: 1200px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col"] {
  padding: 1rem;
}

.col {
  width: auto;
  flex-basis: auto;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.mg-btm-1 {
  margin-bottom: 1rem;
}

.flex-column {
  flex-direction: column;
}

.gap-2 {
  gap: 2rem;
}

.btn {
  padding: 0.25rem 1rem;
  max-width: fit-content;
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

.btn:hover.btn-primary {
  background-color: var(--color-hover);
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card_section_title,
.card_section_info {
  border: 2px solid lightgray;
}

.card_section_title {
  height: fit-content;
  align-content: center;
}

.card_section_info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-grow: 1;
  border-top: 0;
  padding: 2rem;

  li > i {
    color: var(--color-primary);
  }

  hr {
    max-width: 20%;
  }

  .card_costs > p {
    color: var(--color-light);
  }

  .btn {
    max-width: 100%;
    width: 100%;
    padding: 0.75rem;
  }
}

.card_icon_text {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.75rem 0;
}

li.card_icon_text {
  margin: 2rem 0;
}

.left-align {
  justify-content: flex-start;
  align-items: flex-start;
}

.link {
  text-decoration: underline;
  color: blue;
}

/* #endregion common */

/* #region header */

header {
  z-index: 1000;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: var(--color-lighter);
  color: var(--color-dark);
  font-size: 1.1rem;

  nav {
    height: 100%;
  }

  nav span {
    height: 100%;
    align-content: center;
  }

  .left-menu,
  .right-menu {
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  span:hover {
    margin-bottom: -1px;
    border-bottom: 2px solid black;
  }
}

/* #endregion header */

/* #region main */

main {
  .hero {
    width: 100%;
    padding: 5% 15% 0 15%;
    background-color: var(--color-secondary);
    align-content: center;

    p,
    h1 {
      margin-bottom: 2rem;
    }

    .btn {
      padding: 0.75rem;
      margin-bottom: 1rem;
    }

    .container {
      width: 100%;
    }

    .col-4 > a > i {
      font-size: 4rem;
    }

    .col-8 {
      position: relative;

      img {
        position: absolute;
      }
    }
  }

  .separator {
    height: 8rem;

    hr {
      position: relative;
      top: 100%;
      width: 100%;
      height: 2px;
      border: 0;
      border-top: 1px solid rgb(235, 235, 235);
      margin: 1em 0;
      padding: 0;
    }
  }

  .plans {
    padding: 2rem 0;

    .container {
      width: 60%;
    }

    .billing {
      margin: 2rem auto;

      label {
        margin-right: 1rem;
      }

      input {
        margin: 0 0.5rem;
      }
    }
  }
}

/* #endregion main */

/* #region footer */
/* #endregion footer */
