/* #region debug */

.debug * {
  border: 1px dashed black;
}

/* #endregion debug */

/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-lighter: rgb(255, 255, 255);
  --color-light: rgb(250, 250, 250)
  --color-dark: rgb(0, 0, 0);
  --color-primary: rgb(0, 97, 254);
  --color-secondary: rgb(180, 208, 230);
  --color-hover: rgb(46, 126, 255);
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col"] {
  padding: 1rem;
}

.col {
  width: auto;
  flex-basis: auto;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.mg-btm-1 {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.25rem 1rem;
  max-width: fit-content;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

/* #endregion common */

/* #region header */

header {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: var(--color-lighter);
  color: var(--color-dark);
  font-size: 1.1rem;

  nav {
    height: 100%;

    span {
      height: 100%;
      align-content: center;
    }
  }

  .left-menu,
  .right-menu {
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  span:hover {
    margin-bottom: -1px;
    border-bottom: 2px solid black;
  }

  .btn:hover.btn-primary {
    background-color: var(--color-hover);
  }
}

/* #endregion header */

/* #region main */

main {
  .hero {
    width: 100%;
    padding: 5% 15% 0 15%;
    background-color: var(--color-secondary);
    align-content: center;

    p,
    h1 {
      margin-bottom: 2rem;
    }

    .btn {
      padding: 0.75rem;
      margin-bottom: 1rem;
    }

    .container {
      width: 100%;
    }

    .col-4 > a > i {
      font-size: 4rem;
    }

    .col-8 {
      position: relative;

      img {
        position: absolute;
      }
    }
  }

  .separator {
    height: 8rem;

    hr {
      position: relative;
      top: 100%;
      width: 100%;
      height: 2px;
      border: 0;
  border-top: 1px solid rgb(235, 235, 235);
  margin: 1em 0;
  padding: 0;
    }
  }

  .plans {
    .container {
      margin: 2rem auto;
    }
  }
}

/* #endregion main */

/* #region footer */
/* #endregion footer */
